/* Move down content because we have a fixed navbar that is 50px tall */
body {
	background-color: #f9f9f9;
  	padding-top: 50px;
  	padding-bottom: 20px;
  	font-family: calibri;
}
.jumbotron {
	background-image: url('../images/jumbotron.png');
	height: 400px;
}
.navbar-default .navbar-nav > li > a:hover{
	border-bottom: 2px solid #d9534f;
}